html {
	min-width: 100%;
}

body {
	margin-left: auto;
	margin-right: auto;
	word-wrap: break-word;
	max-width: 44em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.feedlink {
	font-weight: bold;
}

.headerTable {
	width: 100%;
	height: 68px;
}

.systemMessage {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translateX(-55%) translateY(-50%);
	-webkit-user-select: none;
	cursor: default;
}

:root {
	background: rgb(255, 252, 240);
	--header-table-border-color: rgb(230, 228, 217);
	--header-color: rgb(111, 110, 105);
	--body-code-color: rgb(111, 110, 105);
	--body-code-bg: rgb(242, 240, 229);
	--body-code-border: rgb(230, 228, 217);
	--system-message-color: rgb(183, 181, 172);
	--feedlink-color: rgb(36, 131, 123);
	--article-title-color: rgb(16, 15, 15);
	--article-date-color: rgb(183, 181, 172);
	--body-text-color: rgb(16, 15, 15);
	--link-color: rgb(36, 131, 123);
	--link-color-visited: rgb(94, 64, 157);
	--table-cell-border-color: rgb(230, 228, 217);
	--text-highlight: rgb(227, 209, 147);
}

@media(prefers-color-scheme: dark) {
	:root {
		background: rgb(16, 15, 15);
		--header-table-border-color: rgb(40, 39, 38);
		--header-color: rgb(135, 133, 128);
		--body-code-color: rgb(135, 133, 128);
		--body-code-bg: rgb(28, 27, 26);
		--body-code-border: rgb(40, 39, 38);
		--system-message-color: rgb(87, 86, 83);
		--feedlink-color: rgb(58, 169, 159);
		--article-title-color: rgb(206, 205, 195);
		--article-date-color: rgb(87, 86, 83);
		--body-text-color: rgb(206, 205, 195);
		--link-color: rgb(58, 169, 159);
		--link-color-visited: rgb(139, 126, 200);
		--table-cell-border-color: rgb(40, 39, 38);
		--text-highlight: rgb(208, 162, 21);
	}
}

body .headerTable {
	border-bottom: 1px solid var(--header-table-border-color);
	color: var(--header-color);
}

body .header {
	color: var(--header-color);
}

body .header a:link, .header a:visited {
	color: var(--header-color);
}

body code, body pre {
	color: var(--body-code-color);
}

body > .systemMessage {
	color: var(--system-message-color);
}

mark {
	background-color: var(--text-highlight);
}

.feedlink a:link, .feedlink a:visited {
	color: var(--feedlink-color);
}

.avatar img {
	border-radius: 2px;
}

.feedIcon {
	border-radius: 4px;
}

.rightAlign {
	text-align: end;
}

.leftAlign {
	text-align: start;
}

.articleTitle a:link, .articleTitle a:visited {
	color: var(--article-title-color);
	margin-top: 26px;
}

.articleDateline {
	margin-bottom: 5px;
}

.articleDateline a:link, .articleDateline a:visited {
	color: var(--article-date-color);
}

.articleDatelineTitle {
	margin-bottom: 5px;
	font-weight: bold;
}

.articleDatelineTitle a:link, .articleDatelineTitle a:visited {
	color: var(--article-title-color);
}

.externalLink {
	margin-bottom: 5px;
	font-style: italic;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.articleBody {
	margin-top: 20px;
	line-height: 1.6em;
	color: var(--body-text-color);
}

h1 {
	line-height: 1.15em;
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 5px;
}

pre {
	max-width: 100%;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	word-wrap: normal;
	word-break: normal;
}

pre {
	line-height: 1.4286em;
	background-color: var(--body-code-bg);
}

code, pre {
	font-family: "Consolas", Monaco, "Courier New", monospace;
	font-size: 1em;
	-webkit-hyphens: none;
}

pre code {
	letter-spacing: -.027em;
	font-size: 0.9375em;
}

.nnw-overflow {
	overflow-x: auto;
}

/*
 Instead of the last-child bits, border-collapse: collapse
 could have been used. However, then the inter-cell borders
 overlap the table border, which looks bad.
 */

.nnw-overflow table {
	margin-bottom: 1px;
	border-spacing: 0;
	border: 1px solid var(--accent-color);
	font-size: inherit;
}

.nnw-overflow table table {
	margin-bottom: 0;
	border: none;
}

.nnw-overflow td, .nnw-overflow th {
	-webkit-hyphens: none;
	word-break: normal;
	border: 1px solid var(--table-cell-border-color);
	border-top: none;
	border-left: none;
	padding: 5px;
}

.nnw-overflow tr :matches(td, th):last-child {
	border-right: none;
}

.nnw-overflow :matches(thead, tbody, tfoot):last-child > tr:last-child :matches(td, th) {
	border-bottom: none;
}

.nnw-overflow td pre {
	border: none;
	padding: 0;
}

.nnw-overflow table[border="0"] {
	border-width: 0;
}

img, figure, video, div, object {
	max-width: 100%;
	height: auto !important;
	margin: 0 auto;
}

iframe {
	max-width: 100%;
	margin: 0 auto;
}

iframe.nnw-constrained {
	max-height: 50vw;
}

figure {
	margin-bottom: 1em;
	margin-top: 1em;
}

figcaption {
	font-size: 14px;
	line-height: 1.3em;
}

sup {
	vertical-align: top;
	position: relative;
	bottom: 0.2rem;
}

sub {
	vertical-align: bottom;
	position: relative;
	top: 0.2rem;
}

hr {
	border: 1.5px solid var(--table-cell-border-color);
}

.iframeWrap {
	position: relative;
	display: block;
	padding-top: 56.25%;
}

.iframeWrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100% !important;
}

blockquote {
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 15px;
	border-inline-start: 3px solid var(--block-quote-border-color);
}

/* Feed Specific */

.feedbin--article-wrap {
	border-top: 1px solid var(--header-table-border-color);
}

/* Twitter */

.twitterAvatar {
	vertical-align: middle;
	border-radius: 4px;
	height: 1.7em;
	width: 1.7em;
}

.twitterUsername {
	line-height: 1.2;
	margin-left: 4px;
	display: inline-block;
	vertical-align: middle;
}

.twitterScreenName {
	font-size: 66%;
}

.twitterTimestamp {
	font-size: 66%;
}

/* Newsfoot theme for light mode (default) */
.newsfoot-footnote-popover {
	background: #219a55;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.25);
	color: black;
	padding: 1px;
}

.newsfoot-footnote-popover-arrow {
	background: #fafafa;
	border: 1px solid #ccc;
}

.newsfoot-footnote-popover-inner {
	background: #fafafa;
}

body a.footnote,
body a.footnote:visited,
.newsfoot-footnote-popover + a.footnote:hover {
	background: #aaa;
	color: white;
	transition: background-color 200ms ease-out;
}

a.footnote:hover,
.newsfoot-footnote-popover + a.footnote {
	background: #666;
	transition: background-color 200ms ease-out;
}

/* Newsfoot theme for dark mode */
@media screen and (prefers-color-scheme: dark) {
	.newsfoot-footnote-popover {
		background: #444;
		color: rgb(224, 224, 224);
	}

	.newsfoot-footnote-popover-arrow {
		background: #242424;
		border: 1px solid #444;
	}

	.newsfoot-footnote-popover-inner {
		background: #242424;
	}

	body a.footnote,
	body a.footnote:visited,
	.newsfoot-footnote-popover + a.footnote:hover {
		background: #aaa;
		color: white;
		transition: background-color 200ms ease-out;
	}

	a.footnote:hover,
	.newsfoot-footnote-popover + a.footnote {
		background: #666;
		transition: background-color 200ms ease-out;
	}

}

/* iOS Specific */
@supports (-webkit-touch-callout: none) {

	body {
		margin-top: 3px;
		margin-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		word-break: break-word;
		-webkit-hyphens: auto;
		-webkit-text-size-adjust: none;
	}

	:root {
		color-scheme: light dark;
		font-family: "San Francisco", sans-serif;
		font-size: [[font-size]]px;
		--accent-color: rgb(32, 94, 166);
		--block-quote-border-color: rgb(32, 94, 166);
	}

	@media(prefers-color-scheme: dark) {
		:root {
			--accent-color: rgb(67, 133, 190);
			--block-quote-border-color: rgb(67, 133, 190);
			--header-table-border-color: rgb(40, 39, 38);
		}
	}

	body a {
		color: var(--link-color);
	}

	body a:visited {
		color: var(--link-color-visited);
	}

	body .header a:link, body .header a:visited {
		color: var(--accent-color);
	}

	pre {
		border: 1px solid var(--body-code-border);
		padding: 5px;
		border-radius: 10px;
	}

	.nnw-overflow table {
		border: 1px solid var(--accent-color);
	}
}

/* macOS Specific */
@supports not (-webkit-touch-callout: none) {
	body {
		margin-top: 20px;
		margin-bottom: 64px;
		padding-left: 48px;
		padding-right: 48px;
		font-family: "Helvetica";
	}

	.smallText {
		font-size: 14px;
	}

	.mediumText {
		font-size: 16px;
	}

	.largeText {
		font-size: 18px;
	}

	.xlargeText {
		font-size: 20px;
	}

	.xxlargeText {
		font-size: 22px;
	}

	:root {
		color-scheme: light dark;
		--accent-color: rgb(32, 94, 166);
		--block-quote-border-color: rgb(32, 94, 166);
	}

	@media(prefers-color-scheme: dark) {
		:root {
			--accent-color: rgb(67, 133, 190);
			--block-quote-border-color: rgb(67, 133, 190);
			--header-table-border-color: rgb(40, 39, 38);
		}
	}

	/*body a, body a:visited, body a * {
		color: var(--accent-color);
	}*/

	body a {
		color: var(--link-color);
	}

	body a:visited {
		color: var(--link-color-visited);
	}

	pre {
		border: 1px solid var(--body-code-border);
		padding: 10px;
		border-radius: 10px;
	}

	.nnw-overflow table {
		border: 1px solid var(--accent-color);
	}

}